.container{
  display: flex;
  height: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.selectBox{
  border: 3px solid #003366;
  width: 1000px;
  height: 3em;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
}

.heigth{
  height: 1px;
}